#navigation {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;

    z-index: 3;

    width: 100%;
    height: 74px;

    background: #1C1C1C;

    .nav-container {
        @include container;

        @include flex-prefix;
        justify-content: space-between;
        align-items: center;

        img {
            padding: 10px 0;

            transition: 0.3s;

            &:hover{
                -webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);
            }
        }

        .navigation-links {
            height: 72px;

            @include flex-prefix;
            justify-content: space-around;
            align-items: center;

            a {
                height: 100%;
                
                line-height: 72px;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                
                position: relative;
                
                margin: 0 20px;
                font-size: 14px;
                color: #FFFFFF;

                &::after{
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 105%;
                    height: 3px;
                    background: #E27866;
                    -webkit-transform: translateY(-3px) scale(0);-ms-transform: translateY(-3px) scale(0);transform: translateY(-3px) scale(0);
                    transition: 0.3s;
                }

                &:hover::after{
                    -webkit-transform: scale(100%); -ms-transform: scale(100%);transform: scale(100%);
                    -webkit-transform:  translateY(0); -ms-transform:  translateY(0);transform:  translateY(0);
                }

                &:hover {
                    opacity: 0.8;
                    cursor: pointer;
                }
            }

            #burger{
                width: 35px;
                display: none;
                opacity: 0.8;

                transition: 0.3s;

                &:hover{
                    opacity: 1;
                    cursor: pointer;
                    -webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);
                }
            }
        }
    }
}

.open{
    -webkit-transform: translateX(0) !important;-ms-transform: translateX(0) !important;transform: translateX(0) !important;
    opacity: 1 !important;
}

.side-menu{
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;

        -webkit-transform: translateX(-300px);-ms-transform: translateX(-300px);transform: translateX(-300px);
        opacity: 0;

        width: 30%;
        height: 100vh;

        background: #1C1C1C;

        .navigation-links{
            @include flex-prefix;
            flex-direction: column;
            align-items: center;

            .side-menu-button{
                height: 60px;
                
                line-height: 60px;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                margin: 10px 20px;
                font-size: 18px;
                color: #FFFFFF;

                transition: 0.3s;

                &:hover {
                    cursor: pointer;
                    color: $my-orange;
                    text-decoration: underline;
                }
            }
        }
}

