.swiper {
    position: relative;
    width: 50%;
    height: 100%;

    .swiper-wrapper {
        .swiper-slide {
            @include flex-prefix;
            flex-direction: column;
            h3 {
                max-height: 110px;
                color: #FFFFFF;
                font-size: 36px;
                line-height: 40px;
            }

            p {
                color: #FFFFFF;
                @include font14-20;
            }
        }
    }
}


.section-3 {
    height: 480px;
    position: relative;
    background: url("/app/img/christoffer-engstrom-503481-unsplash@2x.png");
    @include bg-img-atr;

    @include flex-prefix;
    align-items: center;

    padding: 50px 0;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box;
        opacity: 0.42;
    }

    .section-3-container {
        @include container;
        @include flex-prefix;
        align-items: center;
        justify-content: space-between;

        height: 80%;

        .swiper-buttons {
            position: relative;

            height: 100%;
            margin-right: 45px;

            @include flex-prefix;
            flex-direction: column;
            justify-content: space-between;

            button {
                width: 100px;
                height: 100px;

                border: none;

                background: url("/app/img/tab_3_button_u87_mouseover.svg");
                background-size: 150% 150%;
                background-position: center;
                overflow: hidden;

                span {
                    display: inline-block;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    font-size: 14px;
                    transform: rotate(315deg);
                }
            }
        }

        .section-3-imgs {
            text-align: right;
            position: relative;
            height: 98%;
            width: 38%;
        }
    }
}