.section-9{
    background: #1C1C1C;

    height: 100px;

    .section-9-container{
        height: 100%;
        @include container;
        @include flex-prefix;
        justify-content: space-between;
        align-items: center;

        .social-icons {
            width: 55%;

            @include flex-prefix;
            justify-content: flex-end;
            align-self: center;

            img{
                height: 20px;
                margin-left: 18%;
                margin-right: 2px;
            }
        }

        .copyright{
            color: #FFFFFF;
            opacity: 0.5;
        }
    }
}

