.section-1 {
    position: relative;
    width: 100%;

    padding: 60px 0;

    background: url("/app/img/photo-1480714378408-67cf0d13bc1b@2x.png");
    @include bg-img-atr;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.6;
    }

    .section-1-container {
        @include container;
        height: 80%;
        
        @include flex-prefix;
        justify-content: space-between;
        align-items: center;

        article {
            @include flex-prefix;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            height: 100%;

            color: #FFFFFF;

            .logo-section {
                width: 250px;

                transition: 0.3s;

                &:hover{
                    transform: scale(1.1);
                }
            }

            h3 {
                font-size: 36px;
                max-width: 426px;
            }
            
            #devider-img {
                margin-left: -10px;
                width: 80px;
            }

            p {
                max-width: 700px;

                font-size: 16px;
                line-height: 23px;
                opacity: 0.8;
            }

            a {
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;

                width: 135px;
                height: 42px;
                text-align: center;
                line-height: 42px;
                border: 2px solid #FFFFFF;
                color: #FFFFFF;

                transition: 0.3s;

                &:hover{
                    border-radius: 10px;
                    transform: scale(1.1);
                    color: #E27866;
                }
            }
        }

        form {
            position: relative;

            width: 360px;
            height: 100%;

            @include flex-prefix;
            flex-direction: column;
            justify-content: space-between;

            box-shadow: 0px 5px 20px #00000029;
            border-radius: 5px;
            background: #FFFFFF;
            overflow: hidden;

            h4 {
                height: 57px;
                margin: 0;
                line-height: 57px;
                font-size: 20px;
                padding: 0 50px;
                background: #F5F5F5;
                color: #333333;

                &:hover{
                    cursor: default;
                }

                span {
                    text-transform: uppercase;
                    color: #E27866;

                    &:hover{
                        color: #41D395;
                    }
                }
            }

            .details {
                margin: 0 50px;

                h5 {
                    font-size: 16px;
                    margin: 30px 0;
                    color: #1C1C1C;
                    margin-bottom: 2px;
                }

                input {
                    width: 100%;
                    
                    font-size: 14px;
                    border: none;
                    border-bottom: 1px solid #D8D8D8;
                    padding: 5px;
                    margin: 15px 0;
                }
            }
            
            h5 {
                font-size: 16px;
                color: #1C1C1C;
                margin: 10px 50px 0px 50px;
            }


            .radio-sub {
                @include flex-prefix;
                align-items: center;

                height: 40px;
                margin: 0 50px;
                margin-bottom: 40px;

                input[type="radio"] {                    
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;

                    position: relative;

                    width: 16px;
                    height: 16px;

                    margin-right: 3px;
                    border: 1px solid #41D395;
                    border-radius: 100%;

                    &::before{
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 14px;
                        transform: scale(0);
                        height: 14px;
                        background: #41D395;
                        border-radius: 100%;

                        transition: 0.2s;

                    }

                    &:checked::before{
                        transform: scale(0.6);
                    }


                }

                label {
                    text-transform: uppercase;
                    font-size: 9px;
                    margin-top: 1px;
                    margin-right: 14px;
                    color: #000000;
                }
            }

            button {
                width: 100%;
                height: 57px;

                font-size: 18px;
                text-transform: uppercase;
                border: none;
                background: #41D395;
                color: #FFFFFF;

                transition: 0.3s;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    transform: scaleX(1.05);
                }
            }
        }
    }
}