.section-6{
    max-height: 800px;
    width: 100%;
    
    color: #FFFF;
    padding: 40px 0;
    background: $my-blue;
    scroll-margin-top: 72px;

    p {
        margin: 0;
        padding: 10px 0;
    }

    .section-6-container{
        @include container;
        @include flex-prefix;
        flex-direction: column;
        align-items: center;

        width: 100%;

        .section-6-top{
            text-align: center;
            margin-bottom: 60px;

            h4 {
                font-size: 36px;
                line-height: 43px;
                margin-bottom: 25px;
            }

            p{
                margin-top: 25px;
                @include font14-20;
            }

        }
        .section-6-bottom{
            @include flex-prefix;
            justify-content: space-around;

            width: 80%;

            article {
                min-width: 30%;

                border-radius: 5px;
                overflow: hidden;

                text-align: center;

                &:hover .article-top{
                    -webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);
                }

                &:hover .article-top h2{
                    color: $my-green;
                }

                &:hover .article-top p{
                    opacity: 1;
                }

                &:hover .article-bottom p {
                    color: #333333;
                }

                .article-top{
                    background: #333333;
                    border-radius: 5px 5px 0 0;

                    -webkit-transform: translateY(30px);-ms-transform: translateY(30px);transform: translateY(30px);
                    transition: 0.3s;

                    p {
                        padding-top: 0;
                        opacity: 0.5;
                    }

                    h5{
                        margin: 0;
                        padding: 15px 0;
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 500;
                    }

                    h2 {
                        margin: 0;
                        margin: 40px 0;
                        font-size: 94px;
                        line-height: 24px;
                        font-weight: normal;

                        transition: 0.2s;

                        span{
                            font-size: 40px;
                        }
                    }

                }
                .article-mid{
                    background: $my-green;
                    height: 40px;

                }
                .article-bottom{
                    background: #FFFF;
                    
                    p{
                        color: #86878B;
                        font-size: 14px;
                        line-height: 24px;

                        transition: 0.2s;
                    }
                }
            }
        }
    }
}