.section-9{
    background: #1C1C1C;

    height: 100px;

    .section-9-container{
        height: 100%;
        @include container;
        @include flex-prefix;
        justify-content: space-between;
        align-items: center;

        .social-icons {
            width: 55%;

            @include flex-prefix;
            justify-content: flex-end;
            align-self: center;

            a{
                height: 30px;
                margin-left: 18%;
                margin-right: 2px;

                &:hover img{
                    transform: scale(1.5) rotate(360deg);
                    cursor: pointer;
                    
                }

                img{
                    height: 30px;

                    transition: 0.4s;
                }
            }
        }

        .copyright{
            color: #FFFFFF;
            opacity: 0.5;

            transition: 0.3s;

            &:hover{
                opacity: 1;
            }
        }
    }
}

