.section-2 {
    background: #FFFFFF;

    .section-2-container {
        @include container;
        height: 110px;

        @include flex-prefix;
        justify-content: space-between;
        align-items: center;

        .social-media {

            &:hover{
                cursor: default;
            }
            
            h5 {
                font-size: 20px;
                color: #333333;
                margin: 0;
            }

            p {
                margin: 0;
                margin-top: 5px;
                max-width: 80%;
                color: #86878B;
                @include font14-20;
            }
        }

        .social-icons {
            width: 55%;

            @include flex-prefix;
            justify-content: flex-end;
            align-self: center;
            
            a{
                height: 30px;
                margin-left: 18%;
                margin-right: 2px;

                &:hover img{
                    transform: scale(1.5) rotate(360deg);
                    
                }

                img{
                    height: 30px;

                    transition: 0.4s;
                }
            }
        }
    }
}