@mixin flex-prefix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin container {
    width: 84%;
    margin: 0 auto;
}

@mixin bg-img-atr {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin font14-20 {
    font-size: 14px;
    line-height: 20px;
}

$my-orange: #E27866;
$my-blue: #6696E2;
$my-green: #41D395;